#控制 .editorconfig 是否生效
root = true
#匹配的文件类型
[*.{js,jsx,ts,tsx,vue}]
#缩进风格：空格
indent_style = space
# 这里一般默认是 2，改成4就能缩进4个空格了
indent_size = 4
#换行符lf
end_of_line = lf
#字符集utf-8
charset = utf-8
#是否删除行尾的空格
trim_trailing_whitespace = true
#是否在文件的最后插入一个空行
insert_final_newline = true
